{% extends'index.html' %}
{% block CONTAINER %}
    <div class="container" style="width: 100%">
        <div class="row">
            <div class="jumbotron" style="width: 100%;background-image:url('static/img/back.jpg')">
                <div class="container">
                    {% if user==None %}
                        <h1 style="color: white">All Directors</h1>
                        <p style="color: white">Welcome to movie application.</p>
                        <p><a class="btn btn-primary btn-lg" href="{{ url_for('user_bp.login') }}" role="button">Login
                            Now!</a></p>
                    {% else %}
                        <h1 style="color: white">Hello, {{ user.username }}!</h1>
                        <p style="color: white">All Directors</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            {% for a in actors %}
                <div class="col-md-3">
                    <div class="thumbnail" style="width: 300px; height: 350px">
                        <img src="static/img/actor.jpg" style="width: 300px">
                        <div class="caption">
                            <h3>{{ a.director_full_name }}</h3>
                            <p><a href="{{ url_for('director_bp.director_detail',directorname=a.director_full_name) }}"
                                  class="btn btn-primary" role="button">Details</a> </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}